@import "./variables.scss";

.about__subtitle {
  color: $gray-variant-color;
  line-height: $spacer * 8;
}

.roadmap_img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
