@import "./variables.scss";

.explore_button {
  background-color: $primary-color;
  width: 100%;
  max-width: $explore-button-width;
  padding: $spacer * 3 0px;
}

.subtitle {
  color: $gray-variant-color;
  font-size: $spacer * 5;
}
