@import "./variables.scss";

.support__box{
    padding: 20px;
    box-shadow: 2px 4px 15px rgba(10, 121, 181, 0.24);
    border-radius: 10px;
}


.support__box_header{
    font-size: 18px;
    font-weight: 600;
}

.support__box_sub_header{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: $gray-variant-color;
    /* width: 255px; */
    padding: 16px 0;
}

.support__box_header,
.support__box_sub_header{
    text-align: center;
}
