// Colors
$primary-dark-color: #0C6BBB;
$primary-color: #0A93DD;
$black-color: #000;
$white-color: #fff;
$black-variant-color: #020D16;
$gray-variant-color: #565B60;
$white-variant-color: #F0F0F0;
$domain-list-title-background-color: #E0F4FF;
$domain-status-available: #68C181;
$domain-status-unavailable: #d61400;
$footer-background-light-color: #3EAEEB;
$footer-background-dark-color: #035BA6;
$domain-status-registered: #2dbded;

// Sizes
$spacer: 4px;
$search-button-width: 168px;
$explore-button-width: 220px;
